.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    padding: 20px; 
  }
  
  ion-card {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  }
  .text-mini{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.308);
  }
  
  .icon-size{
    margin-top: 2rem;
    cursor: pointer;
  }