<ion-content class="ion-text-center">
  <!-- Splash Screen -->
  <app-sphash *ngIf="showSplash"></app-sphash>

  <div *ngIf="!showSplash" class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (submit)="login($event)">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Usuario</ion-label>
                  <ion-input type="text" [(ngModel)]="username" name="username" required (ionInput)="validateForm()"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" required
                    (ionInput)="validateForm()"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="2" class="ion-text-center">
                <ion-button fill="clear" (click)="togglePasswordVisibility()">
                  <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="ion-margin-top">
                <ion-button color="dark" expand="full" type="submit" class="btn_login"[disabled]="!isValid">Login</ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <a [routerLink]="'/navbar/registro'" class="btn_registro">Regístrarse</a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
