<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="8" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Datos del Usuario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label><strong>Nombre:</strong></ion-label>
                    <ion-text>{{ fullName }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label><strong>Usuario:</strong></ion-label>
                    <ion-text>{{ username }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label><strong>Email:</strong></ion-label>
                    <ion-text>{{ email }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label><strong>Fecha de Nacimiento:</strong></ion-label>
                    <ion-text>{{ birthDate }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
