.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

ion-card {
  width: 90%;
  max-width: 800px;
}

ion-card-header {
  background-color: #ffffff;
  color: white;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

ion-item {
  --border-radius: 10px;
  --background: white;
  --color: #333;
  margin-bottom: 10px;
}

ion-input {
  --padding-start: 10px;
}

ion-button {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  --background: #3880ff;
  --color: white;
}

ion-button:disabled {
  --background: #ccc;
}
.danger_input{
  color: red;
  font-size: 12px;
}
.success_input{
  color: rgb(10, 154, 37);
  font-size: 12px;
}
.btn_login{
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: #3880ff;
  text-decoration: none;
}

.btn_login ion-icon {
  margin-left: 5px;
}
