<ion-content class="ion-text-center">
  <div class="register-container">
    <ion-card-header>
      <ion-card-title>Registro de Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">Correo no válido</p>

        <ion-item>
          <ion-label position="floating">Nombre Completo</ion-label>
          <ion-input type="text" formControlName="fullName" required></ion-input>
        </ion-item>
        <p *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">Este campo es
          obligatorio</p>

        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" formControlName="username" required></ion-input>
        </ion-item>
        <p *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">Este campo es
          obligatorio</p>

        <ion-item>
          <ion-label position="floating">Fecha de Nacimiento</ion-label>
          <ion-datetime display-format="DD/MM/YYYY" formControlName="birthDate" required></ion-datetime>
        </ion-item>
        <p *ngIf="registerForm.get('birthDate')?.invalid && registerForm.get('birthDate')?.touched">Este campo es
          obligatorio</p>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" required></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" required></ion-input>
        </ion-item>
        <p
          *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched">
          Las contraseñas no coinciden
        </p>

        <br>
        <ion-button [disabled]="registerForm.invalid" class="btn_register" type="submit">
          Registrar
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-button>

        <ion-a style="text-decoration: none; color: #000000;" [routerLink]="'/navbar/login'" class="btn_login"
          type="button">
          Volver al Login
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-a>
      </form>
    </ion-card-content>
  </div>
</ion-content>