<ion-header>
  <ion-toolbar>
    <ion-title>Apl. Web Progresivas</ion-title>
    <!-- ---  -->
    <ion-buttons class="menu-button" slot="end">
      <!-- <ion-searchbar placeholder="Buscar..." class="custom-search-bar"></ion-searchbar> -->
      <ion-button [routerLink]="'./home'">home</ion-button>
      <ion-button [routerLink]="'./login'">Login</ion-button>
    </ion-buttons>
    <!-- ---  -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>