<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <!-- --Natvar-  -->
    <ion-buttons class="menu-button">
      
      <ion-button (click)="logout()" *ngIf="autenticado">
        Salir
      </ion-button>
      <ion-button [routerLink]="'./datos'" *ngIf="autenticado">
        Datos
      </ion-button>
      <ion-button  [routerLink]="'./home'" *ngIf="autenticado &&  userRole === 'admin'">
        Usuarios
      </ion-button>
      <ion-button  [routerLink]="'./gestion-citas'" *ngIf="autenticado">
        Horarios
      </ion-button>

    </ion-buttons>
    <!-- ---  -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>