<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button color="none">
        <img src="assets/img/logoUTEQ.png" alt="Logo" class="logo_UTEQ" loading="lazy">
      </ion-button>
    </ion-title>
    <!-- ---  -->
    <ion-buttons class="menu-button" slot="end">
      <ion-button [routerLink]="'./home'">
        home
        <img src="assets/img/home2.png" alt="Logo" class="logo_img_nav" loading="lazy">
      </ion-button>
      <ion-button [routerLink]="'./login'">
        Login
        <img src="assets/img/login.png" alt="Logo" class="logo_img_nav" loading="lazy">
      </ion-button>
    </ion-buttons>
    <!-- ---  -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>